.home(data-background="none" data-color="#F9F1E7")
  div(data-barba='wrapper')
    div(data-barba='container' data-barba-namespace='home')
      div(asscroll-container='')
        .scroll-wrap
          //- BEGIN content
          .content
            //- BEGIN item
            //- a.item(href='subpage.pug')
            .item
              img.js-image(src='./img/1.jpg' alt='')
              h2 Some title
              p And some very interesting description.
            //- END item
            //- BEGIN item
            .item
              img.js-image(src='./img/2.jpg' alt='')
              h2 Some title
              p And some very interesting description.
            //- END item
            //- BEGIN item
            .item
              img.js-image(src='./img/3.jpg' alt='')
              h2 Some title
              p And some very interesting description.
            //- END item
            //- BEGIN item
            .item
              img.js-image(src='./img/4.jpg' alt='')
              h2 Some title
              p And some very interesting description.
            //- END item
            //- BEGIN item
            .item
              img.js-image(src='./img/case1.jpg' alt='')
              h2 Some title
              p And some very interesting description.
            //- END item
          //- END content
      //- end barba
      .curtain
      #container